@tailwind base;
@tailwind components;
@tailwind utilities;


body, #__nuxt{
    font-family: sans-serif;
    /*overflow-x: hidden;*/
    height: 100%;
}
a{
    color: black;
}

.ant-table-thead > tr > th {
    font-weight: bold;
}

.ant-select-dropdown.ant-select-dropdown-placement-bottomLeft{
    min-width: fit-content !important;
}
